@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Log In pagina */
#loginPagina {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(28, 28, 28)
}
#loginPagina .wrapper img{
  width: 50%;
  height: 1;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
#loginPagina .wrapper {
  max-width: 40%;
  width: 100%;
  padding: 25px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}
#loginPagina .wrapper h1 {
  font-size: 34px;
  text-align: left;
  color: black;
}
#loginPagina .wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
#loginPagina .wrapper .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(26, 26, 26, 0.5);
  border-radius: 20px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
}
#loginPagina .wrapper .input-box input::placeholder {
  color: black;
}

#loginPagina .wrapper .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  color: black;
  transform: translateY(-50%);
  font-size: 20px;
}

#loginPagina .wrapper .submit-btn {
  width: 100%;
  background: black;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

#loginPagina .wrapper .submit-btn:hover {
  background-color: #575656;
}
/* Login pagina */
/* LaadAnimatie */
.loading {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  color: #fff;
}
.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #ffff;
  border-top: 6px solid #044783;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Laadanimatie */

/* Navigation */
header {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
header img {
  min-width: 14%;
  height: 100%;
  object-fit: cover;
  background-color: white;
}
nav ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

li,
a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

/* Navigation */

/* Home pagina */
#datacontainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
  justify-content: center;
  
}

#openModal{
  position: absolute;
  padding: 10px;
  right: 30px;
  top: 15px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}


#datacontainer figure button{
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  background: white;
  color: red;
  border-radius: 50%;
  border: none;
}

#datacontainer figure button i{
  font-size: 30px;
}

#datacontainer figure{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 600px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

#datacontainer figure h3, #datacontainer figure p{
  text-align: center;
}

#datacontainer figure img , p{
  width: 100%;
  height: 70%;
  object-fit: cover;
}

#datacontainer figure ul{
  list-style-type: none;
  text-align: left;
}

#datacontainer figure ul li{
  margin: 10px 0;
}
/* Home pagina */

body {
  min-height: 100vh;
}

main {
  padding: 20px;
  position: relative;
}

main h2{
  font-weight: 400;
}

footer {
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
}

/* Modal */
.modalContainer{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal{
  background-color: white;
  padding: 20px;
  width: 70%;
  height: auto;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

#modalForm{
  display: flex;
  flex-direction: column;
}

#modalForm fieldset{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: black;
  padding: 10px;
  font-size: 20px;
  border: none;
}
#modalForm fieldset legend{
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

#modalForm fieldset input{
  padding: 6px;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
}

#modalForm fieldset div{
  display: flex;
  align-items: center;
  gap: 20px;
}

#modalForm button{
  padding: 6px;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
  background-color: black;
  color: white;
  margin-top: 10px;
}

#modalForm button:hover{
  background-color: #575656;
  cursor: pointer;
}

.modal #closeModal{
  position: absolute;
  width: 100px;
  height: fit-content;
  right: 20px;
  top: 20px;
  border-radius: 20px;
  font-size: 20px;
  background-color: black;
  color: black;
  cursor: pointer;
  color: white;
}

.modal #closeModal:hover{
  background-color: #575656;
}

/* Modal */
