
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Log In pagina */
#loginPagina{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #4FACFE, #00F2FE);
}

#loginPagina .wrapper{
  max-width: 50%;
  width: 100%;
  padding: 25px;
  background: transparent;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
#loginPagina .wrapper h1{
  font-size: 36px;
  text-align: center;
  color: #fff;
}
#loginPagina .wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
#loginPagina .wrapper .input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
#loginPagina .wrapper .input-box input::placeholder{
  color: #fff;
}

#loginPagina .wrapper .input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
  font-size: 20px;
}

#loginPagina .wrapper .submit-btn{
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
  color: #333;
  font-weight: 600;
  font-size: 1.1rem;
}

#loginPagina .wrapper .submit-btn:hover{
  background-color: #e4e4e4;
}
/* Login pagina */
/* LaadAnimatie */
.loading{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  color: #fff;
}
.spinner{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #ffff;
  border-top: 6px solid #044783;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
/* Laadanimatie */

/* Navigation */
  header{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }
  header img{
    width: auto;
    height: 100%;
    object-fit: cover;
    background-color: white;
  }
  nav ul{
    display: flex; 
    gap: 50px;
    list-style-type: none;
  }

  li, a{
    text-decoration: none;
    color: black;
    font-weight: 400;
  }

   a:hover{
    text-decoration: underline;
  }



/* Navigation */

/* Home pagina */

/* Home pagina */



body{
  min-height: 100vh;
}

footer{
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
}